a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    color: #333;
    line-height: 20px;
    font-family: 'Source Sans Pro', 'Roboto';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*
  background-image: url('../graphql-summit.png');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 2800px;
  background-color: #ce42ab;
  */
}
a{
  text-decoration: none;
}
a:hover {
    opacity: .5;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.container-apollo {
    z-index: 2;
    display: block;
    position: relative;
    width: calc(100% - 24px);
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 12px;
}
.training-page{
  background-image: url('../images/bg-apollodata-support-1200x600@2x.jpg');
  background-repeat: no-repeat;
  background-position: center -300px;
}
.optics-page{
  background-image: url('../images/bg-apollodata-optics-pricing-1200x600@2x.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
/*Header Style*/
header {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}
header .left-header{
  width:  30%;
  display: inline-block;
  float: left;
}
header .right-header{
  width:  70%;
  display: inline-block;
  float: right;
}
.logo img{
  max-width:  120px;
  width: 100%;
}
.nav-primary {
  text-align: right;
  line-height:  45px;
}
.nav-primary a.menu-primary{
  font-size: 14px;
  color: #444444;
  font-weight: 600;
  margin: 0 15px;
}
.nav-primary a.menu-primary:last-child{
  margin-right: 0px
}
.nav-primary a.menu-primary.active,
.nav-primary a.menu-primary:hover{
  color:#2ca699;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.general-page{
  display: inline-block;
  width: 100%;
}
.general-page .title-page{
  display: inline-block;
  width: 100%;
  line-height: 48px;
  font-size: 48px;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 20px;
  color #333333;
  font-weight: 200;
}
.general-page span{
  display: inline-block;
  width: 100%;
  margin-bottom: 70px;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  color #666666;
}
.images-responsive{
  max-width: 100%;
  width: 100%
}

.list-support{
  display: inline-block;
  width: 100%;
}
.items-support{
  display: inline-block;
  width: calc(33.33% - 50px);
  float: left;
  margin-top: 40px;
  padding: 0 25px;
}
.items-support h3{
  color:#333333;
  margin-bottom: 10px;
  font-size: 20px;
  line-height:  24px;
}
.items-support span{
  color:#444444;
  font-size: 16px;
  line-height:  24px;
}
.request-graphQL-help{
  max-width: 440px;
  width:  100%;
  margin: 0 auto;
}
.form-request{
  display: inline-block;
  width: 100%;
  border-top: 1px solid #eeeeee;
  padding-top: 60px;
  margin-top: 60px;
  margin-bottom: 60px
}
.title-form{
  display: inline-block;
  width: 100%;
  line-height: 36px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  color #333333;
  font-weight: 200;
}
.haft-form .form-left{
  display: inline-block;
  width: calc(50% - 5px);
  position: relative;
  float: left;
}
.haft-form .form-right{
  display: inline-block;
  width: calc(50% - 5px);
  position: relative;
  float: right;
}
.form-custom{
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  float: left;
}
.form-custom [class^="icon-"]{
  position: absolute;
  left: 12px;
  font-size: 16px;
  top: 12px;
  color: #999999;
}
.form-custom .icon-email-textbox{
  font-size: 11px;
  top: 15px;
}
.form-custom input:focus,
.form-custom textarea:focus{
  outline: none;
  border: 1px solid #2ca699;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-custom input{
  height: 36px;
  font-size: 14px;
  display: inline-block;
  width: calc(100% - 2px);
  border: 1px solid #eeeeee;
  color: #999;
  text-indent: 36px;
  padding: 0px;
}
.form-custom textarea{
  height: 120px;
  padding: 15px;
  font-size: 14px;
  display: inline-block;
  width: calc(100% - 32px);
  border: 1px solid #eeeeee;
  color: #999;
}
.des-form label{
  display: inline-block;
  width: 100%;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.action-form{
  display: inline-block;
  width: 100%;
}
.action-btn-form{
  display: inline-block;
  text-align: center;
  font-size: 12px;
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  background: #2ca699;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.left-checlbox{
  display: inline-block;
  width: 25%;
  float: left;
}
.right-checlbox{
  display: inline-block;
  width: 50%;
  float: left;
}
.checkbox-custom label span{
  display: inline-block;
  width: 110px;
  position: relative;
  left: 25px;
  font-weight: 300;
  top: -3px;
}
.checkbox-custom {
  width: 18px;
  height: 18px;
  position: relative;
  background: #2ca699;
  background: #666666
}
.checkbox-custom label {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
  background: #fff;
}
.checkbox-custom label:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #2ca699;
  opacity: 0;
}
.checkbox-custom label:hover::after {
  opacity: 0.5;
}
.checkbox-custom input[type=checkbox] {
  visibility: hidden;
}
.checkbox-custom input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.footer-apollo{
  background-color: #333333;
  display: inline-block;
  width: 100%;
  color:#fff;
  padding: 60px 0px;
}
.footer-items{
  display: inline-block;
  width: 25%;
  float: left;
}
.footer-items i.icon-logo-email{
  font-size: 24px;
  color: #bda671;
  position: relative;
  top: 10px;
  display: inline-block;
  float: left;
}
.footer-items i.icon-logo-slack{
  font-size: 32px;
  position: relative;
  top: 3px;
  display: inline-block;
  float: left;
}
.footer-items .icon-logo-twitter{
  font-size: 30px;
  color:#0084b4;
  position: relative;
  top: 3px;
  display: inline-block;
  float: left;
}
.footer-items  i.icon-logo-medium{
  font-size: 28px;
  position: relative;
  top: 5px;
  display: inline-block;
  float: left;
  left: 3px;
}

.footer-items span{
  display: inline-block;
  width: calc(100% - 50px);
  float: right;
}
.line-one{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.line-two{
  color: #fff;
  font-size:14px
}
.made-apollo{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
  color: #ccc
}
.made-apollo a{
  font-weight: 600;
  color:#fff
}
