.menu-wrapper .aa-DocsetIcon {
  background-image: linear-gradient(#7156d9,#3f20ba);
  box-shadow: rgb(18 21 26 / 12%) 0 1px 2px, rgb(18 21 26 / 10%) 0 2px 4px, rgb(18 21 26 / 8%) 0 5px 10px, inset rgb(45 31 102 / 40%) 0 -1px 2px;
  border-radius: 8px;
  color: #d9cfff;
}