[class*="grid"] {
  .transform( translate3d(0,0,0) );
  float: left;
  position: relative;

  //collapses grid items
  &[class*="-collapse"] { height: auto !important; }
}

[class*="grid-1"] { height: 100%; }

[class*="grid-2"] {
  height: 50%;
  min-height: 0;
  
  &[class*="square"] { height: 100%; }
}

.grid-3-square { height: 100%; }
.grid-4-square { height: 50%; }

[class*="grid-1"],
[class*="grid-2"],
[class*="grid-3"] { width: 100%; }

[class*="grid-4"],
[class*="grid-5"] { width: 50%; }

@media screen and (min-width: @breakpoint) {
  [class*="grid-2"] { width: 50%; }
  [class*="grid-3"] { width: 33.3%; }
  [class*="grid-4"] { width: 25%; }
  [class*="grid-5"] { width: 20%; }
}
