/* Video Pages */

.screen {
  position: relative;
  height: 100%;
  width: 20%;
  /*  NOTE: numVideos/100%  */
  ;
  float: left;
  overflow: hidden;
}
.big-image {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}
.video-title {
  position: absolute;
  top: 5%;
  right: 5%;
  opacity: .5;
  margin: 40px 0 0 0;
  padding: 0;
  line-height: .65;
  font-size: 4em;
  text-transform: uppercase;
}
.apollo_image {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.apollo_image > img {
  width: 100%;
  max-width: 500px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60px;
}
.apollo_header_title {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 250px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
}

.apollo_header_title > span {
  color: black;
  font-size: 25px;
}
.top_section_wrapper {
  -webkit-filter: opacity(.3);
  filter: opacity(.8);
  background: rgba(255, 255, 255, .6);
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px
}

.top-navigation-bar {
  background: transparent;

  position: fixed;
  top: 0;
  height: 50px;

  width: 100%;
  z-index: 100
}

.top-navigation-bar:after {
  content: "";
  display: table;
  clear: both
}

.top-navigation-bar a {
  color: #000000;
  text-decoration: none

}

.top-navigation-bar .nav-site-internal {
  margin: 0 0 0 10px
  

}

.top-navigation-bar .nav-site-external {
  float: right;
  margin: 0;
}

.top-navigation-bar .nav-site a {
  box-sizing: content-box;
  padding: 0 10px;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  color: rgba(15, 42, 74, .6);
}

.top-navigation-bar .nav-site a:hover {
  color: rgba(15, 42, 74, 1)
}


.top-navigation-bar ul {
  display: inline-block;
  vertical-align: top
}

.top-navigation-bar li {
  display: inline
}

