@color-primary: #22a699;

.docstart {
  width: 100%;
  height: 390px;
  //border-right: 0px solid #22A699;
  //border:0px solid #22A699;
}

.docstart .pop-banner {
  background-color: fade(@color-primary, 5%);
  border: 2px solid @color-primary;
  padding: 0.5rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
  .pb-content {
    padding-left: 0;
    padding-right: 0;
  }
  .pb-early-access {
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: @color-primary;
  }
  .pb-head {
    font-weight: bold;
    font-size: 1.1rem;
  }
  .pb-link,
  .pb-link a {
    color: @color-primary;
    text-decoration: underline;
  }
}

.fundamentals,
.quickstart,
.guides {
  //border:0px solid #22A699;
  width: 33.3%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 0px;

  p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #81849b;
  }
}

.headers {
  padding-top: 10px;
  padding-bottom: 10px;
}

#documentation-heading {
  font-size: 20px;
}

.documentation-buttons {
  width: 100%;
  height: 100px;

  .doc {
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn.default.hollow {
  color: #e535ab;
  border: 2px solid #e535ab;
  border-radius: 3em;
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 12px 24px;
  background-color: #fff;
}

.btn.default.closed {
  color: #fff;
  border: 2px solid #e535ab;
  border-radius: 3em;
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 12px 24px;
  background-color: #e535ab;
}

@media (min-width: 768px) and (max-width: 990px) {
  .btn.default.hollow {
    color: #e535ab;
    border: 2px solid #e535ab;
    border-radius: 3em;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 20px;
    font-weight: 600;
    padding: 6px 12px;
    background-color: #fff;
  }

  .btn.default.closed {
    color: #fff;
    border: 2px solid #e535ab;
    border-radius: 3em;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 20px;
    font-weight: 600;
    padding: 6px 12px;
    background-color: #e535ab;
  }
}

// @media (min-width: 880px) and (max-width: 928px) {
//   .docstart {
//     width: 100%;
//     height: 274px;
//     border-right: 1px solid #22A699;
//     //border:0px solid #22A699;
//   }

//   .fundamentals, .quickstart, .guides {
//     border:1px solid #22A699;
//     width: 33.3%;
//     float: left;
//     //padding-top: 10px;
//     //padding-bottom: 10px;
//     //padding-left: 10px;
//     //padding-right: 10px;
//     border-right: 0px;
//   }

// }

// /*
//   ##Device = Low Resolution Tablets, Mobiles (Landscape)
//   ##Screen = B/w 481px to 767px
// */

@media (min-width: 481px) and (max-width: 767px) {
  .btn.default.hollow {
    color: #e535ab;
    border: 2px solid #e535ab;
    border-radius: 3em;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 20px;
    font-weight: 600;
    padding: 6px 12px;
    background-color: #fff;
  }
}

// /*
//   ##Device = Most of the Smartphones Mobiles (Portrait)
//   ##Screen = B/w 320px to 479px
// */
@media (min-width: 320px) and (max-width: 480px) {
  .docstart .pop-banner {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    .pb-head {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
    .pb-link {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .btn.default.hollow {
    color: #e535ab;
    border: 2px solid #e535ab;
    border-radius: 3em;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 20px;
    font-weight: 600;
    padding: 6px 10px;
    background-color: #fff;
  }
}
